body {
    background-color: white;
    color: black;
}
button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #222;
}
  